:root {
  --color-background: #a9a499;
  --color-general-shadow: rgba(0, 0, 0, 0.25);
  --font-family: "Roboto";

  --color-header-background: #394867;
  --color-header-text: white;

  --color-button-container-background: #5c5757;

  --color-button-text: #000;
  --color-button-hover: #0c0c0c;

  --color-main-container-background: #212a3e;
  --color-main-container-text: white;

  --color-footer-background: #9ba4b5;
  --color-footer-text: white;
}

body {
  display: grid;
  margin: 0;
  padding: 20px;
  background-color: var(--color-background);
  font-family: var(--font-family);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: var(--color-header-background);
  color: var(--color-header-text);
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 4px var(--color-general-shadow);
}

.button-container {
  height: 100px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  background-color: var(--color-button-container-background);
  box-shadow: 0 2px 4px var(--color-general-shadow);
}

.button {
  width: 160px;
  height: 60px;
  color: var(--color-button-text);
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: none;
}

#button-3 {
  margin-left: auto;
}

.button::before {
  margin-left: auto;
}
.button::after,
.button::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-button-hover);
  display: block;
  margin: 10px 0;
  transition: 0.5s;
}
.button:hover::after,
.button:hover::before {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  margin-top: 20px;
  background-color: var(--color-main-container-background);
  box-shadow: 0 2px 4px var(--color-general-shadow);
  padding: 20px;
  color: var(--color-main-container-text);
}

.picture {
  align-self: center;
  width: 50%;
}

footer {
  text-align: center;
  height: 100px;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);
  box-shadow: 0 2px 4px var(--color-general-shadow);
}
